:root {
    @font-face {
        font-family: "Montserrat";
        src: url(../fonts/Montserrat-Black.woff2);
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Montserrat";
        src: url(../fonts/Montserrat-ExtraBold.woff2);
        font-weight: 800;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Montserrat";
        src: url(../fonts/Montserrat-Bold.woff2);
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Montserrat";
        src: url(../fonts/Montserrat-SemiBold.woff2);
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Montserrat";
        src: url(../fonts/Montserrat-Medium.woff2);
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Montserrat";
        src: url(../fonts/Montserrat-Regular.woff2);
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Montserrat";
        src: url(../fonts/Montserrat-Light.woff2);
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Montserrat";
        src: url(../fonts/Montserrat-ExtraLight.woff2);
        font-weight: 200;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: "Montserrat";
        src: url(../fonts/Montserrat-Thin.woff2);
        font-weight: 100;
        font-style: normal;
        font-display: swap;
    }

    //fonts
    --main-ff: "Inter", "Montserrat", sans-serif;
    --font-size-smallest: 13px;
    --font-size-xs: 14px;
    --font-size-s: 15px;
    --font-size-base: 16px;
    --font-size-lg: 17px;
    --font-size-xl: 20px;
    --font-size-2xl: 24px;

    --font-weight-title: 700;

    --line-height-smallest: calc(var(--font-size-xs) + 10px);
    --line-height-xs: calc(var(--font-size-xs) + 10px);
    --line-height-s: calc(var(--font-size-s) + 10px);
    --line-height-base: calc(var(--font-size-base) + 10px);
    --line-height-lg: calc(var(--font-size-lg) + 10px);
    --line-height-xl: calc(var(--font-size-xl) + 10px);
    --line-height-2xl: calc(var(--font-size-2xl) + 10px);

    --font-smallest: var(--font-size-smallest) / var(--line-height-smallest) var(--main-ff);
    --font-xs: var(--font-size-xs) / var(--line-height-xs) var(--main-ff);
    --font-s: var(--font-size-s) / var(--line-height-s) var(--main-ff);
    --font-base: var(--font-size-base) / var(--line-height-base) var(--main-ff);
    --font-lg: var(--font-size-lg) / var(--line-height-lg) var(--main-ff);
    --font-xl: var(--font-size-xl) / var(--line-height-xl) var(--main-ff);
    --font-2xl: var(--font-size-2xl) / var(--line-height-2xl) var(--main-ff);

    --font-size-logo: 35px;

    //standart
    --std-transition: 0.3s all;
    --std-Radius: 30px;
    --std-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);

    //original
    --header-height: 145px;
    --header-marginBottom: 16px;
    --container-padding: 16px;
    --fullHeight-minusHeader: calc(100svh - (var(--header-height) + var(--header-marginBottom)));
    --avatar-Radius: 50%;
    --small-Radius: calc(var(--std-Radius) - var(--std-padding));
    --toggleBtnSlider-size: 20px;

    // z-index
    --modalBg-zIndex: 9000;

    //colors
    --color-blackAlpha: rgba(0, 0, 0, 0.5);
    --color-errorText: #fff;
    --color-errorRed: #f44336;
}
