.yearBorder {
    position: relative;
    margin: 30px 24px;
    height: 1px;
    background-color: var(--icon-color);
}

.usersSection {
    position: relative;
}

.userList {
    transition: 0.1s linear;
}

.year {
    width: 160px;
    position: absolute;
    top: -10px;
    left: 50%;
    font: 500 var(--font-s);
    translate: -50% 0;
    color: var(--icon-color);
    background: var(--main-bg);
    text-align: center;
}

.loader {
    opacity: 1 !important;
    visibility: visible !important;
}

@media (width < 1024px) {
    
}
