.modalBg {
    position: fixed;
    z-index: var(--modalBg-zIndex);
    inset: 0;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    max-width: 60%;
    width: 100%;
    padding: var(--std-padding);
    background: var(--main-bg-inv);
    color: var(--main-bg);
    border-radius: var(--std-Radius);
}
