.app.dark{
    --main-bg: #1a1a1a;
    --main-bg-light: #272727;
    --main-bg-lightMore: #363636;
    --main-bg-inv: #fff;
    --main-bg-inv-light: #ececec;
    --main-bg-inv-doubleLight: #d4d4d4;
    --icon-color: rgb(67, 67, 67);
    --purple-color: rgb(101, 52, 255);
}