.user {
    padding: 0 7px;
    transition: var(--std-transition);
    border-radius: var(--std-Radius);
    &:hover {
        color: #fff;
        background: var(--purple-color);
        box-shadow: var(--std-shadow);
    }
}

.userInner {
    display: flex;
    align-items: center;
}

.userTitle {
    font-size: 500 var(--font-s);
}

.userTag {
    margin-left: 4px;
    font-weight: 400;
    color: var(--icon-color);
}

.userPosition {
    font-size: var(--font-size-smallest);
}

.img {
    width: 88px;
    height: 84px;
    padding: 6px 16px 6px 0;
    img {
        display: flex;
        border-radius: 50%;
    }
}

.avatarNotFound {
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
