.header {
    position: relative;
    padding-top: 8px;
    margin-bottom: var(--header-marginBottom);
    min-height: var(--header-height);
    overflow: hidden;
}

.inner {
    border-bottom: 1px solid var(--icon-color);
}

.headerTop {
    position: relative;
}

.headerTopInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.title {
    position: relative;
    z-index: 50;
    font: var(--font-weight-title) var(--font-2xl);
}

.headerSearch {
    margin-bottom: 8px;
}

.headerUtils {
    display: flex;
    align-items: center;
    gap: 20px;
}
